@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sana Hiring Assessment</h1>    
</div>
<div class="container">
    <p>I'm using the following technologies/ frameworks/ patterns/ tools:</p>
    <ul>
        <li>
            C# 8
        </li>
        <li>
            ASP.NET Core MVC (3.1)
        </li>
        <li>
            Entity Framework Core (3.1) - Code First and migrations, database is SQLite, an embeddable and lightweight db engine.
        </li>
        <li>
            Repository-Service pattern
        </li>
        <li>
            ViewModels and Automapper
        </li>
        <li>
            Bootstrap 4
        </li>
    </ul>
    <form method="post">
        <button class="btn btn-primary btn-lg btn-block" asp-controller="Products" asp-action="Index">Go to Products</button>
    </form>
</div>
